* {
   font-size: 15px;
   font-family: monospace;
   border: none;
   border-radius: 0;
}

window#waybar {
   background: rgba(0, 0, 0, 0.);
}

#workspaces button {
   padding: 0 2px;
}
#workspaces button.focused, #custom-media.focused {
   background-color: #b0b0b0;
   color: white;
}
#workspaces button:hover {
   background: gray;
   color: white;
   box-shadow: inherit;
   text-shadow: inherit;
   transition-duration: 0s;
}

#mode {
   background: red;
}

#custom-media, #custom-weather, #custom-pacman, #custom-storage, #workspace, #pulseaudio, #backlight, #clock, #memory, #temperature, #cpu, #network, #battery, #custom-microphone, #custom-phuebrightness, #custom-phuetemperature {
   color: black;
}

#clock, #pulseaudio, #backlight, #network, #battery, #custom-pacman, #custom-media, #custom-microphone, #custom-phuebrightness, #custom-phuetemperature {
   padding: 0 10px;
}

#temperature, #cpu, #memory, #custom-storage, #custom-pacman {
   padding: 0 0px;
   font-size: 0px;
}

#custom-storage.warning, #custom-storage.critical, #temperature.critical, #memory.load, #cpu.load, #custom-pacman.pending {
   padding: 0 10px;
   font-size: 15px;
}

#battery.charging {
   background-color: green;
}

#battery.warning:not(.charging) {
   background-color: orange;
}

#battery.critical:not(.charging) {
   background-color: red;
}

#custom-workspace1, #custom-workspace2, #custom-workspace3, #custom-workspace4, #custom-workspace5, #custom-workspace6, #custom-workspace7, #custom-workspace8, #custom-workspace9, #custom-workspace0 {
   padding: 0 6px;
}

*.focused {
   background-color: #b0b0b0;
   color: white;
}

*.invisible {
   font-size: 0px;
   padding: 0 0px;
}
